<settings>
    <!-- General -->
    <category label="30100">
      <setting label="30110" type="lsep"/>
      <setting id="log-file" type="bool" label="30111" default="false"/>
      <setting id="log-handler" label="30112" type="text" default="kodi" visible="false"/>
    </category>

    <!-- BBC account
    <category label="30300">
        <setting id="bbc-uname" type="text" label="30301" default=""/>
        <setting id="bbc-passw" type="text" label="30302" default="" option="hidden"/>
    </category>
    -->
</settings>
